ul, li {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: calc(12px + 2vmin);
}

body {
    background-color: #282c34;
}

.App-header {
  display: flex;
  font-size: calc(15px + 2vmin);
  color: white;
}

.grocery-item {
  color: white;
  padding: .8em;
}

.grocery-list {
  flex-grow: 1;
}

.row {
  margin: .4em;
  border: 1px solid white;
}