.App {
  text-align: center;
}

body {
    background-color: #282c34;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grocery-item {
  color: white;
}